h4{
      font-size: 20px;
  margin-left: 3px;
  background:#F5E1FD;
}

p{
color:black;
font-size: 20px;
margin-left: 3px;
}

p:hover {
  color: #000000;
  background: yellow;

}
/* Start Navigation Horizontal*/

/* Start Navigation Horizontal*/

nav {
 position: relative;
  height: 100px;
}

nav a{
  background-color: rgba(238,130,240,.3);
  color: #000000;
  display: inline-block;
  text-decoration: none;
  height:15px;
  border-radius: 15px;
  border: 1px solid purple;
  padding: 20px;
  text-align: center;
}

nav li a{
  background-color: rgba(238,130,240,.3);
  color: #000000;
  display: inline-block;
  text-decoration: none;
  height:13px;
  border-radius: 8px 8px 8px 8px;
  border: 1px solid black;
  text-align: center;
  margin-top: 5px; 
}

nav ul li {
  display: block;
  float: left;
  position: relative;
  padding: 0;
  width: 20%;
  margin: 1% 5% 1% 0;
  word-wrap: all;
}


nav ul  li ul {
  display: none;
    position: absolute;
    padding: 0px;
     width: 100%;
     margin: 1% 1% 1% 0%;
}

nav ul {
  list-style: none;
  padding: 0px;
  
}


nav ul li {
  display: block;
  position: relative;
  float: left;
}


nav li ul { 
    display: none;  
}

nav ul  li ul li {
width: 100%;
padding: 0px;
}

nav ul li a {
  display: block;
  color: black;
  font-size: 25px;
  padding-bottom:30px;
  padding-top:20px;
  text-decoration: none;
  text-transform: capitalize;
  font-family: all;
  text-align: center;
 
}

nav ul li a:hover { 
    background: blue; 
    color: black;
}


nav li:hover > ul {
  display: block;
  position: absolute;
}

nav li:hover li { 
    float: none; 
}

nav li:touch li { 
    float: none; 
}

nav li:hover a { 
    background-color: white;
    background: pink;
    color:black; 
}

nav li:hover li a:hover { 
    background: #FFFFFF; 
}

.main-navigation nav li ul li { 
    border-top: 0; 
 }

#menu-main-navigation .sub-menu li a:hover {
background: #5e3c73;
color: white !important;
}

nav ul ul ul {
  right: 100%;
  top: 0;
}

nav ul:before,
nav ul:after {
  content: " "; /* 1 */
  display: table; /* 2 */
  clear: both; 
}

nav ul:after { 
    clear: both; 
}


nav ul  li ul li a:hover {
background-color: white;
font-weight: bold; 
}

 .active {
  background-color: #FFFFFF;
   border: 3px solid #000000;
}


a:hover {
   color: #00B2FF;
   background: blue;
   font-weight: bold; 
}

a:focus: {
  background: blue;
  color: #666666;
}
/* New NAV with submenu */


h1{
  font-size: 25px;
  margin-left: 3px;
  background:#F5E1FD;
  text-align:center;
}

h2{
  font-size: 25px;
  margin-left: 3px;
  background:#F5E1FD;
}

body{
  background: #EEDAF0;
  margin: 6PX;
}

b{
    font-size: 26px;
}

img {
    width: 90px;
    height: 60px;
}

img:hover {
  -ms-transform: scale(1.5); /* IE 9 -12*/
  -webkit-transform: scale(1.5); /* Safari 11+ */
  transform: scale(1.6); 
  visibility: all;
     width: 100px;
    height: 70px;
}

header, footer{
  text-transform: uppercase;
  background-color: #AF69EE;
  padding: 15px;
  background: #9370DB;
  background: -moz-linear-gradient(top,#9370DB);
  background: -webkit-linear-gradient(#9370DB 0%, #CEBEEF 100%);
  background: -o-linear-gradient(#9370DB 0%, #CEBEEF 100%);
  background: linear gradient(#9370DB 0%, #CEBEEF 100%);
  background: -ms-linear-gradient(top,  #9370DB 0%,#CEBEEF 100%); /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#959595', endColorstr='#1b1b1b',GradientType=0 ); /* IE+ */
}

/* Start Line up quiz Box*/
h2 {
  text-align: center;
        }

.box { background-color: #0000CC; 
      color:#ffffff;
      box-sizing:border-box right;

      /*add here*/
      width:47%;
      /*display: inline-block;*/
      display: inline-block;
      height: 230px;
      margin: 5px;
      border: 10px solid #000000;
      padding: 15px;
      margin: 0 auto;
      margin-top: 50px;
      font-size: 120%;
}

a{
  color: black;
}
.box{ 
      color: #000000;
      background: #EE82EE;
      text-align: center;
      width: 20%;
      height: 230px;
      border-radius: 3px;
 }

 .base{
   width: 75%;
   height: 130px;
 }


.Swedish_Quiz {
  text-align: center;
  color: blue;
  font-family: cursive;
  font-size: 25px;
  padding: none;
}
/* End Line up quiz Box*/
/* Start Open Questions 1*/

#quiz {
    margin-left: 2px;
    background: #1184E8;
    padding: 10px 30px 10px 30px;
    width: 60%;
    float: left;
    display: inline-block;
    border-radius: 20px;
    border: 2px solid blue;
}

input{
   margin-bottom: 3px;
    width: 90px;
}


#textbox{
      height: 5px;
      font-size: 16px;
      border-radius: 5px;
      border:none;
      padding-left: 5px;
}

#button {
    background: green;
    border:none;
    border-radius: 5px;
    padding: 7px;
    width: 200px;
    color: white;
    font-size: 16px;
    transition-duration: .5s;
    margin-top: 15px;
  
}

#button:hover{
    background: white;
    border: 1px solid green;
    color: black;
    cursor: pointer;
}

#after_submit {
    visibility: hidden;
    background: #FF5459;
    padding: 10px 2px 10px 2px;
    width: 60%;
    border-radius: 20px;
    float: left;
    margin-left: 20px;
    font-size: 30px;
}

#picture{
    width: 50%;
    height: 245px;
    margin-left: 3px;
}

#mc {
    display: inline;
}
/* End Quiz 1*/



/* End Quiz 2*/
#after_submit2 {
    visibility: hidden;
    background: #FF5459;
    padding: 10px 20px 10px 20px;
    width: 400px;
    float: left;
    border-radius: 20px;
    margin-left: 20px;
    font-size: 30px
}

#picture1{
    width: 245px;
    height: 245px;
}

/* Start next and previous buttons*/
a:hover {
  background-color: blue;
  color: #000000;
}

.previous {
  background-color: #FFFF33;
  color: #000000;
  float: inherit;
  font-size: 20px ;
}

.next {
  background-color: #FFFF33;
  color: #000000;
  float: right;
  font-size: 20px;
}
/* End next and previous buttons*/


.button_home{
  float: inherit;
  width: 84px;
  background-color: orange;
}

button{
 background-color: orange;
}