
h1{
color:black;
  background-color:purple;
  text-align:center;
  margin:2px;
}

p{
color:black;
}

body{
  background: #E9CFEC;
  margin:2px;
}

th{
  text-align:center;
  color:blue;
  background-color:grey;
  border: 2px solid black;
  font-size:45px;
  width:65px;
  height:65px;
  
}
td,tr{
    border: 2px solid #000000;
    border-spacing:none;
    width: 75px;
    height:75px;
    text-align: left;
    padding:none;
   margin: 2px;
}
tr:nth-child(even){
     background:yellow;
  padding: 5px;
}
tr:nth-child(odd){
     background:#FFFFFF;
     padding: 5px;
}
span{
   visibility:hidden;
   background-color:green;
}
td:active>span{
  visibility:visible;
  background-color:#FFFFFF;
}
.cal caption{
   text-style:center;
   text-decoration:underline; 
   font-size:75px;
   background-color:yellow;
   border: 2px solid #000000;
   border-radius: 0 0 25px 25px;
  -webkit-border-radius: 25px 25px 0 0;
  margin 2px;
}

tr:last-child{
border-radius: 0 0 0 25px;
  -webkit-border-radius: 25px 0 0 0;
}

tr:last-child>td:first-child{
border-radius: 0 0 0 25px;
  -webkit-border-radius:0 0 0 25px;
}

tr:last-child>td:last-child{
 border-radius: 0 0 25px 0;
  -webkit-border-radius: 0 0 25px 0;
}

td:active>span:touch{
  visibility:visible;
  background-color:red;
}
