
h1{
color:black;
  background-color:purple;
  text-align:center;
  margin:2px;
}

p{
color:black;
}

body{
  background: #E9CFEC;
  margin:2px;
}

th,td,tr{
border: 2px solid #000000;
}
tr:nth-firstchild(even){
     background:yellow;
}
tr:nth-firstchild(odd){
     background:#FFFFFF;
}
