body{
  background: #E9CFEC;
}

img{
  border: 2px solid #000000;
}
.center {
  display: block;
 margin-left: auto;
  margin-right: auto;
 width: 50%;
} 

header{
  text-transform: uppercase;
  background-color: #AF69EE;
  padding: 15px;
  background: #9370DB;
  background: -moz-linear-gradient(top,#9370DB);
  background: -webkit-linear-gradient(#9370DB 0%, #CEBEEF 100%);
  background: -o-linear-gradient(#9370DB 0%, #CEBEEF 100%);
  background: linear gradient(#9370DB 0%, #CEBEEF 100%);
  background: -ms-linear-gradient(top,  #9370DB 0%,#CEBEEF 100%); /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#959595', endColorstr='#1b1b1b',GradientType=0 ); /* IE6-9 */
}

h1{
  text-align:center;
  font-size: 35px;
  background:#F5E1FD;

}

h2{
  font-size: 25px;
  margin-left: 2px;
  background:#F5E1FD;
}


/* Start Navigation Horizontal*/

nav{
   text-transform: capitalize;
   font-family: cursive;
   text-align: center;
}
  
nav a{
  background-color: rgba(238,130,240,.3);
  color: #311432;
  display: inline-block;
  margin-right:4%;
  text-decoration: none;
  height:15px;
  border-radius: 15%;
  padding:15px;
  padding-bottom: 25px;
  font-size: 25px;
  text-align: center;
}

 .active {
  background-color: #FFFFFF;
   border: 3px solid #000000;
}

a:hover {
   color: #00B2FF;
   background: #CD5C5C;
}

a:focus: {
  background: #FFE5B4;
  color: #666666;
}

/* End Navigation Horizontal*/

/* End Navigation Vertical*/

nav1{
  box-sizing:borderbox
  border:1px solid #9370DB;
  color:#06425C;
  background-color: #CEBEEF;
  padding: 15px;
  background: #CEBEEF;
  background: -moz-linear-gradient(top,#9370DB);
  background: -webkit-linear-gradient(#CEBEEF 0%, #9370DB 100%);
  background: -o-linear-gradient(#CEBEEF 0%, #9370DB 100%);
  background: linear gradient(#CEBEEF 0%, #9370DB 100%);
  background: -ms-linear-gradient(top,  #CEBEEF 0%,#9370DB 100%); /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#959595', endColorstr='#1b1b1b',GradientType=0 ); /* IE6-9 */
  display: inline-block;
  width:10%;
  margin-right: 15px;
  height: 500vh;
  overflow: auto;
  float:left;
}

nav1 a{
  display: block;
  line-height: 25px;
  height: 45px;
  color:#FFFFFF;
  background-color: #CEBEEF;
  text-decoration: none;
  background-color: #9370DB;
  padding-left: 50px;
    margin-right:4%;
  text-decoration: none;
  height:15px;
  border-radius: 15%;
  padding:15px;
  padding-bottom: 15px;
  margin:12px;
  font-size: 15px;
  text-align: center;
}

/* End Navigation Vertical*/

p{
color:black;
font-size: 25px;
}

/* Start List*/

ul{
     font-size: 25px;
     margin:2px;
      padding-left: 150px;
 } 

 li{
  margin-left: 155px;

 }  

/* End List*/

/* Start Calender*/
th{
  text-align:center;
  color:blue;
  background-color: #D3D3D3;
  border: 1px solid #000000;
  font-size:25px;
  width:65px;
  height:65px;
  
}

table{
  border: 2px solid #000000;
  margin:2%;
  border-radius: 0 0 25px 25px;
  -webkit-border-radius: 0 0 25px 25px;
}

td,tr{
  
    border-spacing:none;
    width: 75px;
    height:75px;
    text-align: left;
    padding:none;
   margin: 2px;
}
tr:nth-child(even){
     background:#FFFFE0;
  padding: 5px;
}
tr:nth-child(odd){
     background:#FFFFFF;
     padding: 5px;
}
span{
   visibility:hidden;
   background-color:green;
}
td:active>span{
  visibility:visible;
  background-color:#FFFFFF;
}
.cal caption{
   text-style:center;
   text-decoration:underline; 
   font-size:35px;
   background-color:yellow;
   border: 2px solid #000000;
   border-radius: 25px 25px 0 0;
  -webkit-border-radius: 25px 25px 0 0;
  margin 2px;
}

tr:last-child{
border-radius: 0 0 0 25px;
  -webkit-border-radius: 25px 0 0 0;
}

tr:last-child>td:first-child{
border-radius: 0 0 0 25px;
  -webkit-border-radius:0 0 0 25px;
}

tr:last-child>td:last-child{
 border-radius: 0 0 25px 0;
  -webkit-border-radius: 0 0 25px 0;
}

/* End Calender*/

/* start Animate fun*/
div{
  box-sizing: border-box;
  border:1px solid #000000;
  width: 100px;
  height: 100px;
  margin: 2%;
  padding: 2%;
  display: inline-block;
  transition: 2s ease;
}

div:focus{
  background-color: #FFFF00;
}

div:hover{
  width: 200px;
  background-color: #800040;
}

.animate{
   background: url("../imgs/smiley5.png");
   background-repeat: no-repeat;
  -webkit-transition:-webkit-transform 1s, opacity;
  -webkit-border.border-radius: 5px;
  -o-transition-property:width,height,-o-transition-property;
  -o-transition-duration:1s,1s,1s,1s,1s,1s;
  -moz-transition-property:width,height,-o-transition-property;
  -moz-transition-duration:1s,1s,1s,1s,1s,1s;
  transition-property:width,height,transform,-o-transition-property;
  transition-duration: 1s,1s,1s,1s,1s,1s;
  transition: background 1s,1s ease-in-out;
  background-size: cover;
-webkit-background-size: 1s,1s cover;
-moz-background-size: 1s,1s cover;
  opacity: 0.4; 
}

.animate:focus{
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
  opacity: 1;
  background: #1EC7E6;
  width: 110px;
  height: 110px;
}

.animate:touch{
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
  opacity: 1;
  background: #1EC7E6;
  width: 110px;
  height: 110px;
    -webkit-transition:-webkit-transform 1s, opacity;
  -webkit-border.border-radius: 5px;
  -o-transition-property:width,height,-o-transition-property;
  -o-transition-duration:1s,1s,1s,1s,1s,1s;
  -moz-transition-property:width,height,-o-transition-property;
  -moz-transition-duration:1s,1s,1s,1s,1s,1s;
  transition-property:width,height,transform,-o-transition-property;
  transition-duration: 1s,1s,1s,1s,1s,1s;
  transition: background 1s,1s ease-in-out;
  opacity: 0.4; 
}

/*End Animate fun*/